.DS_Store
*.pyc
__pycache__
*.cache*
*.sublime-project
*.sublime-workspace
*.js.map
*.js.compiling
*.js.compiling-*
ikarodjango/js/yarn-error.log
ikarodjango/js/package-lock.json
ikarodjango/js/node_modules
ikarodjango/venv
ikarodjango/pypy-venv
ikarodjango/.mypy_cache
.coverage
.idea/
.vscode/
data/
env/secrets.env
etc/nginx/*.csr
etc/nginx/*.crt
etc/nginx/*.key
.venv
*.sqlite3
*.rdb