[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"

[packages]
django = "*"
bleach = "*"
redis = "*"
channels = "*"
channels-redis = "*"
service-identity = "*"
asyncio = "*"

[requires]
python_version = "3.7"
