/*    Body    */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*    Fonts    */
@font-face {
  font-family: 'Aquatico-Regular';
  src: url('fonts/Aquatico-Regular.ttf') format('truetype'),
       url('fonts/Aquatico-Regular.woff') format('woff'),
       url('fonts/Aquatico-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aller';
  src: url('fonts/Aller.ttf') format('truetype'),
       url('fonts/Aller.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aller_Rg';
  src: url('fonts/Aller_Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FranklinGothic-Book';
  src: url('fonts/FranklinGothic-Book.ttf') format('truetype'),
       url('fonts/FranklinGothic-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'frabk';
  src: url('fonts/frabk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/*    Variables    */
:root {
    --gold:#e4cf77;
}
.gold {
    color: var(--gold)
}
.aquatico {
    font-family: "Aquatico-Regular"
}
.aller {
    font-family: "Aller"
}
.franklin {
    font-family: "FranklinGothic-Book"
}

/*    Mapbox    */
.mapbox-component {
    height: 100%;
}

/*    General purpose    */
.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.green {
    background-color: #0f0;
}
.red {
    background-color: #f00;
}

/*    Tukano data div    */
.tukano-data-div {
    width: 500px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    margin: 2vw;
    border-radius: 20px;
    padding: 0 1rem;
    z-index: 10;
}
.variables-container {
    font-size: 1.2rem;
    margin: 0.3rem 1rem;
}
.variable-title {
    font-weight: 800;
}
.variable-value {
    position: absolute;
    left: 200px;
}

/*    Controls div    */
.controls-div {
    width: 25vw;
    max-width: 350px;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    z-index: 20;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.controls-row {
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 5px;
}

/*   Logs   */
.log-div {
    width: 100%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    overflow-y: scroll;
    height: 70px;
    color: white;
}

/*   Indicators   */
div.instrument {
    width: 250px;
    height: 250px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

div.instrument .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.instrument.attitude div.roll {
    transform: rotate(0deg);
}
div.instrument.attitude div.roll div.pitch {
    top: 0%;
}
div.instrument.heading div.yaw {
    transform: rotate(0deg);
}
div.instrument.vario div.vario {
    transform: rotate(0deg);
}
div.instrument.speed div.airspeed {
    transform: rotate(90deg);
}
div.instrument.altimeter div.pressure {
    transform: rotate(40deg);
}
div.instrument.altimeter div.needle {
    transform: rotate(90deg);
}
div.instrument.altimeter div.needleSmall {
    transform: rotate(90deg);
}

.viewers {
    position: absolute;
    bottom: 50px;
    right: 5px;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 5px;
    border-radius: 4px;
    color: white;
}
