/*    Body    */
body {
    display: flex;
    flex-direction: column;
}

/*    Fonts    */
@font-face {
  font-family: 'Aquatico-Regular';
  src: url('fonts/Aquatico-Regular.ttf') format('truetype'),
       url('fonts/Aquatico-Regular.woff') format('woff'),
       url('fonts/Aquatico-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aller';
  src: url('fonts/Aller.ttf') format('truetype'),
       url('fonts/Aller.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aller_Rg';
  src: url('fonts/Aller_Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FranklinGothic-Book';
  src: url('fonts/FranklinGothic-Book.ttf') format('truetype'),
       url('fonts/FranklinGothic-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'frabk';
  src: url('fonts/frabk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/*    Variables    */
:root {
    --gold:#e4cf77;
    --dark-blue:#02253C;
}
.gold {
    color: var(--gold)
}
.dark-blue {
    color: var(--dark-blue)
}
.aquatico {
    font-family: "Aquatico-Regular"
}
.aller {
    font-family: "Aller"
}
.franklin {
    font-family: "FranklinGothic-Book"
}



/*    General purpose    */
.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.green {
    background-color: #0f0;
}
.red {
    background-color: #f00;
}

/*    Tukano data div    */
.tukano-data-div {
    width: 500px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    margin: 2vw;
    border-radius: 20px;
    padding: 0 1rem;
    z-index: 10;
}
.variables-container {
    font-size: 1.2rem;
    margin: 0.3rem 1rem;
}
.variable-title {
    font-weight: 800;
}
.variable-value {
    position: absolute;
    left: 200px;
}

/*    Controls div    */

.controls-close-drawer-button {
    pointer-events: auto;
}
.controls-close-drawer-div {
    background: '#02253C';
    position: absolute;
    pointer-events: none;
}
.controls-drawer {
    background: rgba(0, 0, 0, 0.1);
 
}
.controls-div {
    width: 100%;
    max-width: 350px;
    height: 100%;
    position: absolute;
    /* background: rgba(0, 0, 0, 0.2); */
    z-index: 15;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
    pointer-events: none;
}
.controls-row {
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 2px;
    pointer-events: auto;
}

/*   Logs   */
.log-div {
    width: 100%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    overflow-y: scroll;
    height: 100px;
    min-height: 100px;
    color: white;
    resize: vertical;
}

/*   Indicators   */
div.instrument {
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
}

.indicator-container{
    width: 100%;
    height: 100%;
    position: 'absolute';
    pointer-events: auto;
}

div.instrument .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.instrument.attitude div.roll {
    transform: rotate(0deg);
}
div.instrument.attitude div.roll div.pitch {
    top: 0%;
}
div.instrument.heading div.yaw {
    transform: rotate(0deg);
}
div.instrument.vario div.vario {
    transform: rotate(0deg);
}
div.instrument.speed div.airspeed {
    transform: rotate(90deg);
}
div.instrument.altimeter div.pressure {
    transform: rotate(40deg);
}
div.instrument.altimeter div.needle {
    transform: rotate(90deg);
}
div.instrument.altimeter div.needleSmall {
    transform: rotate(90deg);
}

.viewers-container {
    position: absolute;
    width: 100%;
    pointer-events: none;
}

.viewers-inner {
    margin: 5px auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 5px;
    border-radius: 4px;
    color: white;
    width: fit-content;
}

.secondary-button {
    width: 100%;
    height: 100%;
}

.tucano-logo {
    height: 48px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar-by {
    font-size: 1rem;
    color: white;
}
/* NerdInfo */

.nerdinfo-container {
    color: white;   
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}


.nerdinfo-inner {    
    font-weight: 100;
    font-size: 0.7rem;
    /* font-size: 3vh 3vw; */
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;   
    pointer-events: auto; 
    
    
}


/*    Mapbox    */
.mapbox-component {
    width: 100%;
    height: 100%;
    
}
.mapbox-draggable-button {
    position: absolute;
    z-index: 1;
    width: 10%;
    height: 10%;
}
.mapbox-draggale-div{
    width: 25%;
    height: 25%;
    
    max-width: 640px;
    max-height: 480px;
    pointer-events: auto; 
    
    display: flex;
    justify-content: flex-end;
    align-items: bottom;
}


.mapbox-container {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    pointer-events: none;
}



/*    Mapbox    */
.mapbox-component-fullscreen {
    height: 100%;
    width: 100%;
}

.mapbox-container-fullscreen{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    display: flex;
    justify-content: center;
    align-items: center; 
}

/*    Video    */
.video-container-fullscreen {
    position: absolute;
    z-index: -1;
    background-color: #02253C;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 100%;
}
.video-container {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.video-elem{ 
    width: 40%;
    height: 40%;
    margin: 10px 10px 35px 10px;
}

.video-elem-fullscreen{ 
    width: 100%;
    height: 100%;
}
/*    ManualControlPanel    */
.manual-control-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}
.manual-control-inner {
    margin-top: auto;
    font-weight: 100;
    font-size: 0.7rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;    
    height: 20%;
    width: 20%;
}



 

@media (max-width: 1300px) {
    div.mw-wrap {
        width: 100%;
        min-width: initial;
    }
    div.mw-header {
        display: inline-block;
    }
    #geopoint-map-elem {
        width: 100%;
    }
    div.mw-wrap div.mw-adress-input-wrap {
        float: left;
        width: 100%;
    }
}

@media (max-width: 768px) ,  (max-height: 600px){

    img.d-block.w-100 {
        height: 200px;
    }
    .main-scroll{
        height: auto;
        overflow-y: initial;
    }

    /* Filters */
    .filter-container .dropdown.dropdown-menu-mobile .dropdown-menu{
        left: -160% !important;
    }

    div.instrument {
        width: 100px;
        height: 100px;
    }

    .main-button {
        padding: 1px;
    }

    .secondary-button {
        padding: 5px 1px;
    }
}
