{% extends 'ui/base.html' %}

{% block title %}Welcome{% endblock %}

{% block inner %}
    <div class="container-fluid">
        <br>
        <center>
            <h1 class="aquatico">
                <span class="gold">Tucano</span>Robotics<br>
                <span style="text-shadow: 2px 2px 6px rgba(0,0,0,0.3); font-size: 2rem;">
                    Drones for humans
                </span>
            </h1>
        </center>

        <div class="row">
            <div class="col-md-6 my-3 mx-auto">
                {% include 'ui/forms/login.html' %}
            </div>
            <!-- <div class="col-md-6 my-3">
                {% include 'ui/forms/signup.html' %}
            </div> -->
        </div>

        <script>
            window.addEventListener('load', function() {
                $('#login-form input[name=username]').focus().click()
            })
        </script>
    </div>
{% endblock %}
